@model Clinical_Management_System.Models.DB_Entities.Clinic

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Clinic</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 form-floating">
                <input asp-for="OpenTime" class="form-control" />
                <label asp-for="OpenTime" class="control-label"></label>
                <span asp-validation-for="OpenTime" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="CloseTime" class="form-control" />
                <label asp-for="CloseTime" class="control-label"></label>
                <span asp-validation-for="CloseTime" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="City" class="form-control" />
                <label asp-for="City" class="control-label"></label>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="BuildingNum" class="form-control" />
                <label asp-for="BuildingNum" class="control-label"></label>
                <span asp-validation-for="BuildingNum" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="StreetName" class="form-control" />
                <label asp-for="StreetName" class="control-label"></label>
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Government" class="form-control" />
                <label asp-for="Government" class="control-label"></label>
                <span asp-validation-for="Government" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Floor" class="form-control" />
                <label asp-for="Floor" class="control-label"></label>
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DoctorId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
