@model Clinical_Management_System.Models.DB_Entities.Clinic

@{
    ViewData["Title"] = "Edit";
}


<div class="col-12 d-flex justify-content-end mb-2">
    <a asp-controller="Clinics" asp-action="Index" class="btn btn-secondary shadow-sm" style="background:#f2f5fc;border-radius: 8px;">
        <i class="bi bi-arrow-left"></i> Back to Prescriptions List
    </a>
</div>
<div  class="card shadow border-0">
    <div class="card-header bg-secondary text-light text-center" style="background:linear-gradient(to right, #ebeff5, #886794);">
        <h2 class="m-0">Edit clinic</h2>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClinicId" />
            <div class="mb-3 form-floating">
                <input asp-for="OpenTime" class="form-control" />
                <label asp-for="OpenTime" class="control-label"></label>
                <span asp-validation-for="OpenTime" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="CloseTime" class="form-control" />
                <label asp-for="CloseTime" class="control-label"></label>
                <span asp-validation-for="CloseTime" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="City" class="form-control" />
                <label asp-for="City" class="control-label"></label>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="BuildingNum" class="form-control" />
                <label asp-for="BuildingNum" class="control-label"></label>
                <span asp-validation-for="BuildingNum" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="StreetName" class="form-control" />
                <label asp-for="StreetName" class="control-label"></label>
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Government" class="form-control" />
                <label asp-for="Government" class="control-label"></label>
                <span asp-validation-for="Government" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Floor" class="form-control" />
                <label asp-for="Floor" class="control-label"></label>
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DoctorId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="background:#aca1bf;  color: #fff;
            font-size: 12px;
            padding: 10px 45px;
            border: 1px  transparent;
            border-radius: 8px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-top: 30px;
            margin-left:30px;
            cursor: pointer;" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
