/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */






/*
.full-screen-img {
        height: 100vh;
        background-image: url('/assets/happy-doctor-holding-clipboard-with-patients.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block; 
    }*/
