
@{
    IgnoreSection("HideNavbar");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinical_Management_System</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Clinical_Management_System.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    @if (!IsSectionDefined("HideNavbar"))
    {

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  border-bottom box-shadow mb-3" style=" background: linear-gradient(to right, #f2f5fc,
#1f4f5b);">

                <div class="container-fluid">
                    <a href="/">
                        <img src="/assets/download-removebg-preview.png" style="height:100px;width:200px" alt="Company Logo" id="ilupal">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse  d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link " style=" color: #4f647b; font-size:15px;font-weight:bold" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " style=" color: #4f647b; font-size:15px;font-weight:bold" asp-controller="Home" asp-action="ContactUs">ContactUs</a>
                            </li>
                            @if (User.IsInRole(Sd.Role_Admin))
                            {
                                <li class="nav-item">
                                    <a class="nav-link " style=" color: #4f647b; font-size:15px;font-weight:bold" asp-controller="UserManagement" asp-action="Index">Users</a>
                                </li>
                            }
                            @if (User.IsInRole(Sd.Role_Doctor))
                            {
                                <li>
                                    <a class="nav-link" style=" color: #4f647b; font-size:15px; font-weight:bold" asp-controller="Appointments" asp-action="Index">Appointment</a>

                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle " style=" color: #4f647b; font-size:15px;font-weight:bold" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Clinics And Schedules
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" asp-controller="Schedule" asp-action="Index">My Schedule</a></li>
                                        <li><hr class="dropdown-divider bg-white"></li>
                                        <li><a class="dropdown-item" asp-controller="Clinics" asp-action="Index">My Clinics</a></li>
                                        <li><hr class="dropdown-divider bg-white"></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="nav-link " style=" color: #4f647b; font-size:15px;font-weight:bold" asp-controller="Documents" asp-action="Index">Patient documents</a>
                                </li>
                                <li>
                                    <a class="nav-link " style=" color: #4f647b; font-size:15px;font-weight:bold" asp-controller="Prescriptions" asp-action="Index">Prescription</a>
                                </li>
                                <li>
                                    <a class="nav-link " style=" color: #4f647b; font-size:15px;font-weight:bold" asp-controller="Medicines" asp-action="Index">Medicines</a>
                                </li>
                            }
                            @if (User.IsInRole(Sd.Role_Patient))
                            {
                                <li>
                                    <a class="nav-link" style=" color: #4f647b; font-size:15px; font-weight:bold" asp-controller="Appointments" asp-action="Index">Appointment</a>

                                </li>
                                <li>
                                    <a class="nav-link " style=" color: #4f647b; font-size:15px;font-weight:bold" asp-controller="Prescriptions" asp-action="Index">Prescription</a>
                                </li>
                                <li>
                                    <a class="nav-link " style=" color: #4f647b; font-size:15px;font-weight:bold" asp-controller="Medicines" asp-action="Index">Medicines</a>
                                </li>
                                <li>
                                    <a class="nav-link " style=" color: #4f647b; font-size:15px;font-weight:bold" asp-controller="Documents" asp-action="Index">Documents</a>
                                </li>
                            }
                            <!--  <li>
    <a class="nav-link " style=" color: #4f647b;" asp-controller="Appointments" asp-action="Create">Appointment</a>
      </li>-->

                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>}
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

    <div id="iv3be5" class="gjs-grid-row">
        <div id="ilriti" class="gjs-grid-column">
            <div id="im0rle" class="gjs-grid-row">
                <div id="iotp6j" class="gjs-grid-column">
                    <a href="/" id="iih6cv"
                       class="gjs-link-box"><img alt="Untitled(2).png" src="~/assets/download-removebg-preview.png" id="ioiqug" /></a>
                </div>
                <div id="i1hx7l" class="gjs-grid-column">
                    <a id="ij7g8t" title="" href="##" class="gjs-link">Pricing<br /></a><a id="ipjdtn" href="##" class="gjs-link">Terms &amp; Conditions<br /></a><a id="ikj01e" href="##"
                                                                                                                                                                     class="gjs-link">Refund Policy<br /></a><a id="i2sl68" href="##" class="gjs-link">Contact Us<br /></a>
                </div>
            </div>
            <div id="it6g1v" class="gjs-text-blue">Copyright © YEAR Company name</div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <style>
        .custom-text-color {
            color: #4f647b;
        }
    </style>

</body>
</html>

