@model Appointment

@{
    ViewData["Title"] = "Create Appointment";
}

<h2>Create Appointment</h2>

<div class="col-12 d-flex justify-content-end mb-2">
    <a asp-controller="Appointments" asp-action="Index" class="btn btn-secondary shadow-sm">
        <i class="bi bi-arrow-left"></i> Back to Appointments
    </a>
</div>

<div class="card shadow border-0">
    <div class="card-header bg-primary bg-gradient text-light text-center">
        <h2 class="m-0">Create New Appointment</h2>
    </div>

    <div class="card-body">
        <form asp-controller="Appointments" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3 form-floating">
                <input asp-for="Type" class="form-control" placeholder="Appointment Type" />
                <label asp-for="Type" class="control-label">Type</label>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="mb-3 form-floating">
                <input asp-for="Reason" class="form-control" placeholder="Reason for Appointment" />
                <label asp-for="Reason" class="control-label">Reason</label>
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Notes" class="form-control" placeholder="Additional Notes" />
                <label asp-for="Notes" class="control-label">Notes</label>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId" required>
                    <option value="">Select Doctor</option>
                </select>
                <label asp-for="ScheduleId" class="control-label">Doctors</label>
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId" required>
                    <option value="">Select Schedule</option>
                </select>
                <label asp-for="ScheduleId" class="control-label">Available Date and Time</label>
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PatientId" value="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" />
            <!-- Submit button -->
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check-circle"></i> Create Appointment
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
