@model Medicine

@{
    ViewBag.Title = "Create Medicine";
}

<div class="card shadow border-0 mt-2">
    <div class="card-header bg-secondary text-light text-center">
        <h2 class="m-0">Create Medicine</h2>
    </div>

    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="form-floating mb-3">
                <input asp-for="MedicineName" class="form-control" placeholder="Medicine Name" />
                <label asp-for="MedicineName">Medicine Name</label>
                <span asp-validation-for="MedicineName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Dose" class="form-control" placeholder="Dose" />
                <label asp-for="Dose">Dose</label>
                <span asp-validation-for="Dose" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Duration" class="form-control" placeholder="Duration" />
                <label asp-for="Duration">Duration</label>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Repeat" class="form-control" placeholder="Repeat" type="number" />
                <label asp-for="Repeat">Repeat</label>
                <span asp-validation-for="Repeat" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="PrescriptionId" class="form-select" asp-items="ViewBag.PrescriptionId">
                    <option value="">-- Select Prescription --</option>
                   
                </select>
                <label asp-for="PrescriptionId">Prescription</label>
                <span asp-validation-for="PrescriptionId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create Medicine</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
