@model Clinical_Management_System.Models.DB_Entities.Medicine

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicineName" class="control-label"></label>
                <input asp-for="MedicineName" class="form-control" />
                <span asp-validation-for="MedicineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dose" class="control-label"></label>
                <input asp-for="Dose" class="form-control" />
                <span asp-validation-for="Dose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repeat" class="control-label"></label>
                <input asp-for="Repeat" class="form-control" />
                <span asp-validation-for="Repeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionId" class="control-label"></label>
                <select asp-for="PrescriptionId" class ="form-control" asp-items="ViewBag.PrescriptionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
