<div id="contact-us"></div>
<div id="iz29ek" class="gjs-grid-row">
    <div id="ik2rdi" class="gjs-grid-column">
        <h2 id="i83vu9" class="gjs-heading">Contact Us<br /></h2>
        <div id="in201n" class="text-main-content">
            Phone Number : +201221652084<br />Email: yourclinicmanager@gmail.com<br />
        </div>
    </div>
</div>