@{
    ViewData["Title"] = "Home";
}

<div id="irz7b" class="gjs-grid-row">
    <div id="iycz3" class="gjs-grid-column">
        <h1 id="irjua" class="gjs-heading">
            <span class="OYPEnA font-feature-liga-off font-feature-clig-off font-feature-calt-off text-decoration-none text-strikethrough-none" id="i6biwu">Create, Manage and Advertise your Clinic all in one Place!</span>
        </h1><input type="text" id="ilrwx9" placeholder="Search for Clinics" /><img alt="happy-doctor-holding-clipboard-with-patients.jpg" src="/assets/happy-doctor-holding-clipboard-with-patients.jpg" id="i0jpvg" />
    </div>
</div>
<div id="feature-section" class="gjs-grid-row">
    <div id="imymf" class="gjs-grid-column">
        <div id="ib541" class="gjs-grid-row">
            <div id="iz8m8" class="gjs-grid-column">
                <h2 id="ism014" class="gjs-heading">Simplifing the ​complexities of ​clinical ​management</h2>
                <div id="igrx8" class="text-main-content">
                    We aim to bridge the gap between healthcare ​providers and patients
                    by offering a robust, user-​friendly platform that simplifies the complexities of ​clinical management. Our
                    mission is to empower ​healthcare professionals with technology that ​improves patient outcomes, reduces
                    administrative ​burdens, and ensures that care is delivered ​seamlessly
                </div>
            </div>
            <div id="iepks" class="gjs-grid-column">
                <img alt="f05d640dd658342d077fe21f2bc0adf9.webp" src="~/assets/photo1.webp" id="ihoei2" />
            </div>
        </div>
    </div>
</div>
<div id="ioyxg" class="gjs-grid-row">
    <div id="i8w4i" class="gjs-grid-column">
        <h2 id="iiacm" class="gjs-heading">Why Choose Us?</h2>
        <div id="ia21sa" class="text-main-content">
            Our system integrates a comprehensive set of features, including
            appointment scheduling, medical records management, billing, lab test tracking, and more
        </div>
        <div id="ixzh1" class="gjs-grid-row">
            <div id="ilpi3" class="gjs-grid-column feature-item">
                <div data-type-icon id="ipmqo6" class="gjs-icon gjs-feature-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
                        </path>
                    </svg>
                </div>
                <h3 id="in9ef" class="gjs-heading">Patient-Centered Care</h3>
                <div id="i8isa" class="text-main-content">
                    Our platform is designed with patients in mind, ensuring their
                    medical information is easily accessible, securely stored, and managed with care
                </div>
            </div>
            <div id="ic57kq" class="gjs-grid-column feature-item">
                <div data-type-icon id="ibdusm" class="gjs-icon gjs-feature-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
                        </path>
                    </svg>
                </div>
                <h3 id="ica43q" class="gjs-heading">Efficient Operations</h3>
                <div id="ickn3f" class="text-main-content">
                    We streamline administrative tasks, allowing healthcare providers
                    to focus on what they do best—caring for patients.
                </div>
            </div>
            <div id="idv32l" class="gjs-grid-column feature-item">
                <div data-type-icon id="ipmept" class="gjs-icon gjs-feature-icon">
                    <svg viewBox="0 0 24 24">
                        <path d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
                        </path>
                    </svg>
                </div>
                <h3 id="ieu6p6" class="gjs-heading">Innovative Technology</h3>
                <div id="izqkf7" class="text-main-content">
                    We leverage the latest technology to deliver a system that is not
                    only powerful but also easy to use, ensuring a smooth user experience.
                </div>
            </div>
        </div>
    </div>
</div>
<div id="iz29ek" class="gjs-grid-row">
    <div id="ik2rdi" class="gjs-grid-column">
        <h2 id="i83vu9" class="gjs-heading">Contact Us<br /></h2>
        <div id="in201n" class="text-main-content">
            Phone Number : +201221652084<br />Email: yourclinicmanager@gmail.com<br />
        </div>
    </div>
</div>

