@model Prescription

@{
    ViewBag.Title = "Delete Prescription";
}

<div class="card shadow border-0 mt-2">
    <div class="card-header bg-danger text-light text-center">
        <h2 class="m-0">Delete Prescription</h2>
    </div>

    <div class="card-body">
        <h5>Are you sure you want to delete the following prescription?</h5>
        <h6>Diagnosis Name: @Model.DiagnosisName</h6>
        <h6>Date: @Model.DateTime.ToString("yyyy-MM-dd")</h6>
        <h6>Appointment Date: @Model.Appointment?.Date.ToString("yyyy-MM-dd")</h6>

        <div class="mt-3">
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="PrescriptionId" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-controller="Prescriptions" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
