@model Prescription

@{
    ViewBag.Title = "Prescription Details";
}

<div class="card shadow border-0 mt-2">
    <div class="card-header bg-secondary text-light text-center">
        <h2 class="m-0">Prescription Details</h2>
    </div>

    <div class="card-body">
        <h5>Diagnosis Name: @Model.DiagnosisName</h5>
        <h5>Date: @Model.DateTime.ToString("yyyy-MM-dd")</h5>
        <h5>Appointment Date: @Model.Appointment?.Date.ToString("yyyy-MM-dd")</h5>

        <div class="d-flex justify-content-end mt-3">
            <a asp-controller="Prescriptions" asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
