@model IEnumerable<Schedule>



    <a asp-controller="Schedule" asp-action="Create" class="btn btn-primary shadow-sm " style="background: linear-gradient(to right, #008080, #014d4e);">
        <i class="bi bi-patch-plus"></i> Add Schedule
    </a>
    <div class="card shadow border-0 mt-2">
        <div class="card-header text-light text-center" style="background: linear-gradient(to right, #20B2A6, #014d4e);">
            <h2 class="m-0">Schedules</h2>
        </div>
        <div class="col-12 d-flex justify-content-end">

        </div>
        <div class="card-body">
            <table class="table table-hover table-striped table-lg  table-borderless text-center align-middle">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>



                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var schedule in Model)
                    {
                        <tr>
                            <td>@schedule.AvailableDateTime.ToShortDateString()</td>
                            <td>@schedule.Status</td>
                            <td>
                                <a class="btn btn-sm btn-primary me-2 "style="background: #008080;"  asp-action="Edit" asp-route-id="@schedule.Id">Edit</a> 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
